.title {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-size: 30px;
  width: 100%;
}
h1 {
  padding: 0;
  margin: 0;
}
