.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  padding-top: 100px;
  overflow: auto;
  top: 0;
  width: 100%;
}

.modalContent {
  background-color: #fee2e3;
  border: 1px solid #888;
  margin: auto;
  padding: 20px;
  width: 50%;
}

.modalTitle {
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
  width: 70%;
}

.submitButton {
  background: #b1cca1;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  padding: 0.5rem;
  width: 30%;
}
