.card {
  align-items: center;
  background-color: #e09bc0;
  border-radius: 7px;
  box-shadow: 0px 9px 11px -7px #614353;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  margin: 1rem;
  max-height: 30px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #614353;
  padding: 1rem;
  width: 70%;
}

.card.done {
  background-color: #edf1ba;
}
.card.done:hover,
.card:hover {
  opacity: 0.7;
}

.card:active {
  position: relative;
  top: 2px;
}

.status {
  color: #007514;
  font-size: 12px;
  font-weight: 600;
}

.status.done {
  color: #7a2f23;
}
